Repository mozilla/burnham, pull requests merged in 2020-12, with the labels that each got.

#113 Upgrade glean-sdk 📦
  application/requirements.txt
Labels: application, dependencies, glean-sdk

#114 Document how to run the tests locally using docker-compose
  application/README.md
Labels: application, docker, docs

#115 Sleep briefly before exiting after all missions finished
  application/src/burnham/cli.py
Labels: application

#117 Sleep before disabling upload 😴
  application/src/burnham/missions.py
Labels: application

#118 Update Dependabot config 🤖
  .github/dependabot.yml
Labels: Dependabot
