Repository mozilla/burnham, pull requests merged in 2020-11, with the labels that each got.

#97 Add pip install commands to tox environments.
  application/dev-requirements.in
  application/dev-requirements.txt
  application/tox.ini
Labels: code quality

#103 Add black to code checks 🤖
  .circleci/config.yml
  application/dev-requirements.in
  application/dev-requirements.txt
  application/src/burnham/cli.py
  application/src/burnham/experiments.py
  application/tests/test_cli.py
  application/tests/test_missions.py
  application/tox.ini
Labels: application, code quality

#105 Update burnham installation in tox 🤖
  application/tox.ini
Labels: code quality

#106 Run pip check in tox 🤖
  application/tox.ini
Labels: code quality

#110 Develop deletion-request ping test 👩‍🚀
  application/setup.py
  application/src/burnham/__init__.py
  application/src/burnham/cli.py
  application/src/burnham/config/metrics.yaml
  application/src/burnham/missions.py
  application/tests/conftest.py
  application/tests/test_cli.py
  application/tests/test_missions.py
Labels: application, capability

#108 Upgrade glean-sdk and glean-parser 📦
  application/requirements.txt
Labels: application, dependencies, glean-sdk
