Repository mozilla/burnham, pull requests merged in 2022-01, with the labels that each got.

#350 Update Dependabot schedule to Fridays 🤖
  .github/dependabot.yml
Labels: dependencies, glean-sdk, Dependabot, application

#356 Add --diff CLI flag to black in tox 🤖
  application/tox.ini
Labels: code quality

#354 Enable glean network logging and prepare for burnham 21.1.0 release.
  application/requirements.txt
  application/setup.py
  application/src/burnham/__init__.py
  application/src/burnham/cli.py
Labels: glean-sdk, application
